<div id="editorV2PhotoOverlay"
     class="editor-photo-overlay editor-photo-overlay--hidden"
     role="dialog"
     aria-modal="true"
     aria-labelledby="editor-v2-photo-overlay-title"
     aria-hidden="true">
  <div class="editor-photo-overlay-backdrop"></div>
  <div class="editor-photo-overlay-container">
    <div class="editor-photo-overlay-box">
      <h2 id="editor-v2-photo-overlay-title" class="editor-photo-overlay-title">
        Edit Photo
      </h2>
      <img id="editorV2EditorImage" alt="Image to edit">
      <div class="editor-photo-overlay-actions">
        <button type="button"
                id="editorV2PhotoReset"
                class="editor-photo-overlay-button editor-photo-overlay-button-reset">
          Reset
        </button>
        <button type="button"
                id="editorV2PhotoCancel"
                class="editor-photo-overlay-button editor-photo-overlay-button-cancel">
          Cancel
        </button>
        <button type="button"
                id="editorV2PhotoApply"
                class="editor-photo-overlay-button editor-photo-overlay-button-apply">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>

