<div class="modal fade" id="clergyModal" tabindex="-1" aria-labelledby="clergyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clergyModalLabel">{{ 'Edit Clergy' if action == 'edit' else 'Add New Clergy' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% from '_clergy_form_clean.html' import clergy_form_clean %}
                {{ clergy_form_clean({
                    'ranks': ranks,
                    'organizations': organizations,
                    'cancel_url': '#'
                }, clergy=clergy, edit_mode=(action == 'edit'), user=user, all_clergy_data=all_clergy_data, all_bishops_suggested=all_bishops_suggested) }}
            </div>
        </div>
    </div>
</div> 