<div class="modal fade" id="clergyModal" tabindex="-1" aria-labelledby="clergyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clergyModalLabel">{{ 'Edit Clergy' if action == 'edit' else 'Add New Clergy' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% from '_clergy_form.html' import clergy_form %}
                {{ clergy_form({
                    'ranks': ranks,
                    'organizations': organizations,
                    'cancel_url': '#'
                }, clergy=clergy, edit_mode=(action == 'edit'), user=user) }}
            </div>
        </div>
    </div>
</div>

<script src="/static/js/fuzzySearch.js"></script>
<script>
    window.allClergy = {{ all_clergy_data | tojson | safe }};
</script>
<script src="/static/js/modalClergy.js"></script> 